/*!Pagina!*/
@font-face { font-family: Gontserrat; src: url('fonts/Gontserrat.ttf'); } 
* {
    margin: 0;
    padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}

/*!Header!*/
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 0rem;
}
header {
    background-color: hsl(0, 0%, 93%);
    padding: 3px;
}
header nav a {
    color: black;
    padding: 14px 20px 14px 20px;
    font-size: medium;
    text-decoration: none;
}
header nav a:hover {
    border-bottom: 3px solid black;
}
header nav li {
    display: inline;
    border-radius: 10%;
    border: black;
}
header img {
    width: 70px;
    margin-left: 20px;
}
/*Zoekbar*/
header input {
    position: relative;
    margin-right: 20px;
    padding: 4px 26px;
    border-radius: 20px;
    width: 150px;
    border: 0;
}
.zoekbar i {
    position: relative;
    color: hsl(0, 0%, 58%);
    font-size: 15px;
    z-index: 2;
    left: 12.5%;
    bottom: 1%;
}
/*Video*/
.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
    display: flex;
    align-items: center;
}
video {
    width: 100%;
}

/*!Hoofdpagina!*/
/*Bestseller sectie*/
.bestseller h2 {
    margin-left: 3rem;
}
.flex-item {
    margin: auto 1rem auto 1rem;
    flex: 1;
}
img {
    width: 100%;
}
p {
    color: gray;
}
/*Categories sectie*/
.categories h2 {
    margin-top: 2rem;
    margin-left: 3rem;
}
figure {
    position: relative;
}
.flex-item figcaption {
    position: absolute;
    bottom: 10%;
    left: 13%;
    font-size:large;
    background-color: hsl(0, 0%, 97%);
    padding: 7px 14px;
    border-radius: 50px;
}
.flex-item figcaption:hover {
    background-color: hsl(0, 0%, 87%);
}
/*Membership sectie*/
.membership h2 {
    margin-top: 2rem;
    margin-left: 3rem;
}
.membership p {color: hsl(0, 0%, 31%);}
.memberinfo {display: flex;}
.memberfoto {
    padding: 10px;
    margin: auto 1rem auto 3rem;
    width: 30%;
}
.membership figcaption {
    position: absolute;
    bottom: 18%;
    left: 7%;
    font-size: large;
}
.membertext {padding-left: 10px;}
.membertext p {font-size: larger;}
.membertext h2 {margin-left: 0;}
.membertext button {
    margin: 1rem 0;
    font-size:larger;
    background-color: hsl(0, 0%, 11%);
    border: 0;
    color: hsl(0, 0%, 97%);
    padding: 10px 20px;
    border-radius: 50px;
}
.membertext button:hover {
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 11%);
}

/*!Footer!*/
footer {
    margin-top: 2rem;
    padding: 2vw 8vw;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 91%);
    font-family: Gontserrat, sans-serif;
}
footer .flex-container:first-child {
    margin-bottom: 2rem;
}
footer li {
    padding-top: 0.5rem;
    list-style: none;
}
footer li a {
    color: white;
    text-decoration: none;
}
.onderdelen a  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: gray;
}
footer i {
    margin-left: 1rem;
    font-size: 2.3rem;
    color: gray;
    margin-bottom: 6rem;
}
footer i:hover {
    transform: scale(1.1);
}