.flexbox {
    background-color: azure;
    display: flex;
}
.col {
    padding: 4px;
    margin: 4px;
    border: 1px solid black;
}
.left {
    width: 30%;
}
.right {
    width: 70%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 68%);
}